In [2]:
# !pip install pandas
# !pip install pyodbc
# !pip install sqlalchemy
# !pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.1-cp39-cp39-win_amd64.whl (178 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

In [20]:
import pandas as pd
import pyodbc
import sqlalchemy
# import MySQLdb

In [7]:
path = r"C:\Users\aleci\Downloads\Files\Projeto Aplicado\Projeto\data\team_siglas.csv"

In [12]:
df = pd.read_csv(path, sep=';')

In [13]:
df.head(5)

              team sigla
0    Atlanta Hawks   ATL
1   Atlanta Hawks*   ATL
2   Boston Celtics   BOS
3  Boston Celtics*   BOS
4    Brooklyn Nets   BRK

In [14]:
dict(df.dtypes)

{'team': dtype('O'), 'sigla': dtype('O')}

In [15]:
df.head()

              team sigla
0    Atlanta Hawks   ATL
1   Atlanta Hawks*   ATL
2   Boston Celtics   BOS
3  Boston Celtics*   BOS
4    Brooklyn Nets   BRK

In [16]:
df.shape

(70, 2)

In [39]:
# df['Team'] = df['Team'].str.replace('*','')

In [17]:
import sqlalchemy as sa

connection_url = sa.engine.URL.create(
    drivername="mysql",
    username="root",
    password="alecio@123",
    host="localhost",
    database="nba_db",
)
print(connection_url)

mysql://root:alecio%40123@localhost/nba_db

In [18]:
# default
#string de conex√£o com o banco 
engine = sqlalchemy.create_engine(connection_url)

In [19]:
# ingestion database

df.to_sql("nba_team_siglas_tb", con=engine, index=False, if_exists='append')

70