In [1]:
# !pip install pandas
# !pip install pyodbc
# !pip install sqlalchemy
# !pip install mysqlclient

In [2]:
import pandas as pd
import pyodbc
import sqlalchemy
import MySQLdb

In [3]:
path = r"C:\Users\aleci\Downloads\Files\Projeto Aplicado\Projeto\data\data_teams_2005_2023_v1.csv"

In [4]:
df = pd.read_csv(path)

In [5]:
# df.head(5)

In [6]:
# dict(df.dtypes)

In [7]:
# df.head()

In [8]:
# df.shape

In [9]:
df['Team'] = df['Team'].str.replace('*','')

C:\Users\aleci\AppData\Local\Temp\ipykernel_22996\3718427120.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Team'] = df['Team'].str.replace('*','')

In [10]:
import sqlalchemy as sa

connection_url = sa.engine.URL.create(
    drivername="mysql",
    username="root",
    password="alecio@123",
    host="localhost",
    database="nba_db",
)
print(connection_url)

mysql://root:alecio%40123@localhost/nba_db

In [11]:
# default
#string de conexão com o banco 
engine = sqlalchemy.create_engine(connection_url)

In [12]:
#ingestão banco de dados
df.to_sql("nba_team_tb", con=engine, index=False, if_exists='replace')

570